body {
  overflow: auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#main {
  flex: 1 0 auto;
  top: 0;
}


footer {
  flex-shrink: 0;
}